Cours_Audiffret/TP1_SOAP/ClientJavaGestionEtudiant/src/GestionEtudiantsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://www.polytech.fr" name="GestionEtudiantsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.fr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.polytech.fr" schemaLocation="GestionEtudiantsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="initialisation">
    <part name="parameters" element="tns:initialisation"/>
  </message>
  <message name="initialisationResponse">
    <part name="parameters" element="tns:initialisationResponse"/>
  </message>
  <message name="ajout">
    <part name="parameters" element="tns:ajout"/>
  </message>
  <message name="ajoutResponse">
    <part name="parameters" element="tns:ajoutResponse"/>
  </message>
  <message name="SearchId">
    <part name="parameters" element="tns:SearchId"/>
  </message>
  <message name="SearchIdResponse">
    <part name="parameters" element="tns:SearchIdResponse"/>
  </message>
  <message name="modifier">
    <part name="parameters" element="tns:modifier"/>
  </message>
  <message name="modifierResponse">
    <part name="parameters" element="tns:modifierResponse"/>
  </message>
  <message name="tous">
    <part name="parameters" element="tns:tous"/>
  </message>
  <message name="tousResponse">
    <part name="parameters" element="tns:tousResponse"/>
  </message>
  <message name="suppression">
    <part name="parameters" element="tns:suppression"/>
  </message>
  <message name="suppressionResponse">
    <part name="parameters" element="tns:suppressionResponse"/>
  </message>
  <portType name="GestionEtudiants">
    <operation name="initialisation">
      <input message="tns:initialisation"/>
      <output message="tns:initialisationResponse"/>
    </operation>
    <operation name="ajout">
      <input message="tns:ajout"/>
      <output message="tns:ajoutResponse"/>
    </operation>
    <operation name="SearchId">
      <input message="tns:SearchId"/>
      <output message="tns:SearchIdResponse"/>
    </operation>
    <operation name="modifier">
      <input message="tns:modifier"/>
      <output message="tns:modifierResponse"/>
    </operation>
    <operation name="tous">
      <input message="tns:tous"/>
      <output message="tns:tousResponse"/>
    </operation>
    <operation name="suppression">
      <input message="tns:suppression"/>
      <output message="tns:suppressionResponse"/>
    </operation>
  </portType>
  <binding name="GestionEtudiantsPortBinding" type="tns:GestionEtudiants">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="initialisation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="tous">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="suppression">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestionEtudiantsService">
    <port name="GestionEtudiantsPort" binding="tns:GestionEtudiantsPortBinding">
      <soap:address location="http://localhost:9090/"/>
    </port>
  </service>
</definitions>

