Projet_HEILMANN_AUDIFFRET/PBG/src/GestionPBGService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://gestion/" xmlns:tns="http://gestion/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="afficherComptes" type="tns:afficherComptes"/>

  <xs:element name="afficherComptesResponse" type="tns:afficherComptesResponse"/>

  <xs:element name="afficherEvents" type="tns:afficherEvents"/>

  <xs:element name="afficherEventsResponse" type="tns:afficherEventsResponse"/>

  <xs:element name="afficherParticipants" type="tns:afficherParticipants"/>

  <xs:element name="afficherParticipantsResponse" type="tns:afficherParticipantsResponse"/>

  <xs:element name="afficherParticipationEvents" type="tns:afficherParticipationEvents"/>

  <xs:element name="afficherParticipationEventsResponse" type="tns:afficherParticipationEventsResponse"/>

  <xs:element name="afficherParticipations" type="tns:afficherParticipations"/>

  <xs:element name="afficherParticipationsResponse" type="tns:afficherParticipationsResponse"/>

  <xs:element name="ajoutCompte" type="tns:ajoutCompte"/>

  <xs:element name="ajoutCompteResponse" type="tns:ajoutCompteResponse"/>

  <xs:element name="ajoutEvent" type="tns:ajoutEvent"/>

  <xs:element name="ajoutEventResponse" type="tns:ajoutEventResponse"/>

  <xs:element name="ajouterParticipation" type="tns:ajouterParticipation"/>

  <xs:element name="ajouterParticipationResponse" type="tns:ajouterParticipationResponse"/>

  <xs:element name="compte" type="tns:compte"/>

  <xs:element name="compteValide" type="tns:compteValide"/>

  <xs:element name="compteValideResponse" type="tns:compteValideResponse"/>

  <xs:element name="connexion" type="tns:connexion"/>

  <xs:element name="connexionResponse" type="tns:connexionResponse"/>

  <xs:element name="event" type="tns:event"/>

  <xs:element name="isAdmin" type="tns:isAdmin"/>

  <xs:element name="isAdminResponse" type="tns:isAdminResponse"/>

  <xs:element name="modifCompte" type="tns:modifCompte"/>

  <xs:element name="modifCompteResponse" type="tns:modifCompteResponse"/>

  <xs:element name="modifEvent" type="tns:modifEvent"/>

  <xs:element name="modifEventResponse" type="tns:modifEventResponse"/>

  <xs:element name="modifImageEvent" type="tns:modifImageEvent"/>

  <xs:element name="modifImageEventResponse" type="tns:modifImageEventResponse"/>

  <xs:element name="modifMdpCompte" type="tns:modifMdpCompte"/>

  <xs:element name="modifMdpCompteResponse" type="tns:modifMdpCompteResponse"/>

  <xs:element name="participant" type="tns:participant"/>

  <xs:element name="rechercheCompte" type="tns:rechercheCompte"/>

  <xs:element name="rechercheCompteResponse" type="tns:rechercheCompteResponse"/>

  <xs:element name="rechercheEvent" type="tns:rechercheEvent"/>

  <xs:element name="rechercheEventResponse" type="tns:rechercheEventResponse"/>

  <xs:element name="resetComptes" type="tns:resetComptes"/>

  <xs:element name="resetComptesResponse" type="tns:resetComptesResponse"/>

  <xs:element name="resetEvents" type="tns:resetEvents"/>

  <xs:element name="resetEventsResponse" type="tns:resetEventsResponse"/>

  <xs:element name="resetParticipations" type="tns:resetParticipations"/>

  <xs:element name="resetParticipationsResponse" type="tns:resetParticipationsResponse"/>

  <xs:element name="setAdmin" type="tns:setAdmin"/>

  <xs:element name="setAdminResponse" type="tns:setAdminResponse"/>

  <xs:element name="supprCompte" type="tns:supprCompte"/>

  <xs:element name="supprCompteResponse" type="tns:supprCompteResponse"/>

  <xs:element name="supprEvent" type="tns:supprEvent"/>

  <xs:element name="supprEventResponse" type="tns:supprEventResponse"/>

  <xs:element name="supprParticipation" type="tns:supprParticipation"/>

  <xs:element name="supprParticipationEvent" type="tns:supprParticipationEvent"/>

  <xs:element name="supprParticipationEventResponse" type="tns:supprParticipationEventResponse"/>

  <xs:element name="supprParticipationMail" type="tns:supprParticipationMail"/>

  <xs:element name="supprParticipationMailResponse" type="tns:supprParticipationMailResponse"/>

  <xs:element name="supprParticipationResponse" type="tns:supprParticipationResponse"/>

  <xs:complexType name="supprEvent">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprEventResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetEvents">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetEventsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherParticipationEvents">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="afficherParticipationEventsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="base64Image" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetParticipations">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetParticipationsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="supprParticipation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprParticipationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="supprCompte">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprCompteResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="supprParticipationMail">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprParticipationMailResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifMdpCompte">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifMdpCompteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="compteValide">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="compteValideResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetComptes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetComptesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherComptes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherComptesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:compte" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element name="admin" type="xs:boolean"/>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="prenom" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajoutCompte">
    <xs:sequence>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="prenom" type="xs:string" minOccurs="0"/>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajoutCompteResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:compte" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprParticipationEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprParticipationEventResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="isAdmin">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isAdminResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajoutEvent">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="image" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajoutEventResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rechercheEvent">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rechercheEventResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:event" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="afficherParticipations">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherParticipationsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:participant" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="participant">
    <xs:sequence>
      <xs:element name="idEvent" type="xs:int"/>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rechercheCompte">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rechercheCompteResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:compte" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifImageEvent">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="image" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifImageEventResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifEvent">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifEventResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="connexion">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mdp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connexionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:compte" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajouterParticipation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajouterParticipationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherEvents">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="afficherEventsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="afficherParticipants">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="afficherParticipantsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:compte" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifCompte">
    <xs:sequence>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="prenom" type="xs:string" minOccurs="0"/>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifCompteResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="setAdmin">
    <xs:sequence>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setAdminResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

