Projet_HEILMANN_AUDIFFRET/PBG/src/GestionPBGService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://gestion/" name="GestionPBGService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://gestion/" schemaLocation="GestionPBGService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="resetComptes">
    <part name="parameters" element="tns:resetComptes"/>
  </message>
  <message name="resetComptesResponse">
    <part name="parameters" element="tns:resetComptesResponse"/>
  </message>
  <message name="resetEvents">
    <part name="parameters" element="tns:resetEvents"/>
  </message>
  <message name="resetEventsResponse">
    <part name="parameters" element="tns:resetEventsResponse"/>
  </message>
  <message name="resetParticipations">
    <part name="parameters" element="tns:resetParticipations"/>
  </message>
  <message name="resetParticipationsResponse">
    <part name="parameters" element="tns:resetParticipationsResponse"/>
  </message>
  <message name="afficherComptes">
    <part name="parameters" element="tns:afficherComptes"/>
  </message>
  <message name="afficherComptesResponse">
    <part name="parameters" element="tns:afficherComptesResponse"/>
  </message>
  <message name="rechercheCompte">
    <part name="parameters" element="tns:rechercheCompte"/>
  </message>
  <message name="rechercheCompteResponse">
    <part name="parameters" element="tns:rechercheCompteResponse"/>
  </message>
  <message name="ajoutCompte">
    <part name="parameters" element="tns:ajoutCompte"/>
  </message>
  <message name="ajoutCompteResponse">
    <part name="parameters" element="tns:ajoutCompteResponse"/>
  </message>
  <message name="modifCompte">
    <part name="parameters" element="tns:modifCompte"/>
  </message>
  <message name="modifCompteResponse">
    <part name="parameters" element="tns:modifCompteResponse"/>
  </message>
  <message name="modifMdpCompte">
    <part name="parameters" element="tns:modifMdpCompte"/>
  </message>
  <message name="modifMdpCompteResponse">
    <part name="parameters" element="tns:modifMdpCompteResponse"/>
  </message>
  <message name="supprCompte">
    <part name="parameters" element="tns:supprCompte"/>
  </message>
  <message name="supprCompteResponse">
    <part name="parameters" element="tns:supprCompteResponse"/>
  </message>
  <message name="supprParticipationMail">
    <part name="parameters" element="tns:supprParticipationMail"/>
  </message>
  <message name="supprParticipationMailResponse">
    <part name="parameters" element="tns:supprParticipationMailResponse"/>
  </message>
  <message name="connexion">
    <part name="parameters" element="tns:connexion"/>
  </message>
  <message name="connexionResponse">
    <part name="parameters" element="tns:connexionResponse"/>
  </message>
  <message name="compteValide">
    <part name="parameters" element="tns:compteValide"/>
  </message>
  <message name="compteValideResponse">
    <part name="parameters" element="tns:compteValideResponse"/>
  </message>
  <message name="setAdmin">
    <part name="parameters" element="tns:setAdmin"/>
  </message>
  <message name="setAdminResponse">
    <part name="parameters" element="tns:setAdminResponse"/>
  </message>
  <message name="isAdmin">
    <part name="parameters" element="tns:isAdmin"/>
  </message>
  <message name="isAdminResponse">
    <part name="parameters" element="tns:isAdminResponse"/>
  </message>
  <message name="afficherEvents">
    <part name="parameters" element="tns:afficherEvents"/>
  </message>
  <message name="afficherEventsResponse">
    <part name="parameters" element="tns:afficherEventsResponse"/>
  </message>
  <message name="rechercheEvent">
    <part name="parameters" element="tns:rechercheEvent"/>
  </message>
  <message name="rechercheEventResponse">
    <part name="parameters" element="tns:rechercheEventResponse"/>
  </message>
  <message name="ajoutEvent">
    <part name="parameters" element="tns:ajoutEvent"/>
  </message>
  <message name="ajoutEventResponse">
    <part name="parameters" element="tns:ajoutEventResponse"/>
  </message>
  <message name="supprEvent">
    <part name="parameters" element="tns:supprEvent"/>
  </message>
  <message name="supprEventResponse">
    <part name="parameters" element="tns:supprEventResponse"/>
  </message>
  <message name="supprParticipationEvent">
    <part name="parameters" element="tns:supprParticipationEvent"/>
  </message>
  <message name="supprParticipationEventResponse">
    <part name="parameters" element="tns:supprParticipationEventResponse"/>
  </message>
  <message name="modifImageEvent">
    <part name="parameters" element="tns:modifImageEvent"/>
  </message>
  <message name="modifImageEventResponse">
    <part name="parameters" element="tns:modifImageEventResponse"/>
  </message>
  <message name="modifEvent">
    <part name="parameters" element="tns:modifEvent"/>
  </message>
  <message name="modifEventResponse">
    <part name="parameters" element="tns:modifEventResponse"/>
  </message>
  <message name="afficherParticipations">
    <part name="parameters" element="tns:afficherParticipations"/>
  </message>
  <message name="afficherParticipationsResponse">
    <part name="parameters" element="tns:afficherParticipationsResponse"/>
  </message>
  <message name="afficherParticipants">
    <part name="parameters" element="tns:afficherParticipants"/>
  </message>
  <message name="afficherParticipantsResponse">
    <part name="parameters" element="tns:afficherParticipantsResponse"/>
  </message>
  <message name="afficherParticipationEvents">
    <part name="parameters" element="tns:afficherParticipationEvents"/>
  </message>
  <message name="afficherParticipationEventsResponse">
    <part name="parameters" element="tns:afficherParticipationEventsResponse"/>
  </message>
  <message name="ajouterParticipation">
    <part name="parameters" element="tns:ajouterParticipation"/>
  </message>
  <message name="ajouterParticipationResponse">
    <part name="parameters" element="tns:ajouterParticipationResponse"/>
  </message>
  <message name="supprParticipation">
    <part name="parameters" element="tns:supprParticipation"/>
  </message>
  <message name="supprParticipationResponse">
    <part name="parameters" element="tns:supprParticipationResponse"/>
  </message>
  <portType name="GestionPBG">
    <operation name="resetComptes">
      <input message="tns:resetComptes"/>
      <output message="tns:resetComptesResponse"/>
    </operation>
    <operation name="resetEvents">
      <input message="tns:resetEvents"/>
      <output message="tns:resetEventsResponse"/>
    </operation>
    <operation name="resetParticipations">
      <input message="tns:resetParticipations"/>
      <output message="tns:resetParticipationsResponse"/>
    </operation>
    <operation name="afficherComptes">
      <input message="tns:afficherComptes"/>
      <output message="tns:afficherComptesResponse"/>
    </operation>
    <operation name="rechercheCompte">
      <input message="tns:rechercheCompte"/>
      <output message="tns:rechercheCompteResponse"/>
    </operation>
    <operation name="ajoutCompte">
      <input message="tns:ajoutCompte"/>
      <output message="tns:ajoutCompteResponse"/>
    </operation>
    <operation name="modifCompte">
      <input message="tns:modifCompte"/>
      <output message="tns:modifCompteResponse"/>
    </operation>
    <operation name="modifMdpCompte">
      <input message="tns:modifMdpCompte"/>
      <output message="tns:modifMdpCompteResponse"/>
    </operation>
    <operation name="supprCompte">
      <input message="tns:supprCompte"/>
      <output message="tns:supprCompteResponse"/>
    </operation>
    <operation name="supprParticipationMail">
      <input message="tns:supprParticipationMail"/>
      <output message="tns:supprParticipationMailResponse"/>
    </operation>
    <operation name="connexion">
      <input message="tns:connexion"/>
      <output message="tns:connexionResponse"/>
    </operation>
    <operation name="compteValide">
      <input message="tns:compteValide"/>
      <output message="tns:compteValideResponse"/>
    </operation>
    <operation name="setAdmin">
      <input message="tns:setAdmin"/>
      <output message="tns:setAdminResponse"/>
    </operation>
    <operation name="isAdmin">
      <input message="tns:isAdmin"/>
      <output message="tns:isAdminResponse"/>
    </operation>
    <operation name="afficherEvents">
      <input message="tns:afficherEvents"/>
      <output message="tns:afficherEventsResponse"/>
    </operation>
    <operation name="rechercheEvent">
      <input message="tns:rechercheEvent"/>
      <output message="tns:rechercheEventResponse"/>
    </operation>
    <operation name="ajoutEvent">
      <input message="tns:ajoutEvent"/>
      <output message="tns:ajoutEventResponse"/>
    </operation>
    <operation name="supprEvent">
      <input message="tns:supprEvent"/>
      <output message="tns:supprEventResponse"/>
    </operation>
    <operation name="supprParticipationEvent">
      <input message="tns:supprParticipationEvent"/>
      <output message="tns:supprParticipationEventResponse"/>
    </operation>
    <operation name="modifImageEvent">
      <input message="tns:modifImageEvent"/>
      <output message="tns:modifImageEventResponse"/>
    </operation>
    <operation name="modifEvent">
      <input message="tns:modifEvent"/>
      <output message="tns:modifEventResponse"/>
    </operation>
    <operation name="afficherParticipations">
      <input message="tns:afficherParticipations"/>
      <output message="tns:afficherParticipationsResponse"/>
    </operation>
    <operation name="afficherParticipants">
      <input message="tns:afficherParticipants"/>
      <output message="tns:afficherParticipantsResponse"/>
    </operation>
    <operation name="afficherParticipationEvents">
      <input message="tns:afficherParticipationEvents"/>
      <output message="tns:afficherParticipationEventsResponse"/>
    </operation>
    <operation name="ajouterParticipation">
      <input message="tns:ajouterParticipation"/>
      <output message="tns:ajouterParticipationResponse"/>
    </operation>
    <operation name="supprParticipation">
      <input message="tns:supprParticipation"/>
      <output message="tns:supprParticipationResponse"/>
    </operation>
  </portType>
  <binding name="GestionPBGPortBinding" type="tns:GestionPBG">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="resetComptes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resetEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resetParticipations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherComptes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rechercheCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajoutCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifMdpCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprParticipationMail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="connexion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="compteValide">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setAdmin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isAdmin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rechercheEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajoutEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprParticipationEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifImageEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherParticipations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherParticipants">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherParticipationEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajouterParticipation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprParticipation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestionPBGService">
    <port name="GestionPBGPort" binding="tns:GestionPBGPortBinding">
      <soap:address location="http://localhost:9090/GestionPBG"/>
    </port>
  </service>
</definitions>

