tests/PolyBoardGamesClient/src/GestionComptesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://gestion/" name="GestionComptesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://gestion/" schemaLocation="GestionComptesService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="initialisation">
    <part name="parameters" element="tns:initialisation"/>
  </message>
  <message name="initialisationResponse">
    <part name="parameters" element="tns:initialisationResponse"/>
  </message>
  <message name="ajoutCompte">
    <part name="parameters" element="tns:ajoutCompte"/>
  </message>
  <message name="ajoutCompteResponse">
    <part name="parameters" element="tns:ajoutCompteResponse"/>
  </message>
  <message name="SearchCompte">
    <part name="parameters" element="tns:SearchCompte"/>
  </message>
  <message name="SearchCompteResponse">
    <part name="parameters" element="tns:SearchCompteResponse"/>
  </message>
  <message name="tous">
    <part name="parameters" element="tns:tous"/>
  </message>
  <message name="tousResponse">
    <part name="parameters" element="tns:tousResponse"/>
  </message>
  <portType name="GestionComptes">
    <operation name="initialisation">
      <input message="tns:initialisation"/>
      <output message="tns:initialisationResponse"/>
    </operation>
    <operation name="ajoutCompte">
      <input message="tns:ajoutCompte"/>
      <output message="tns:ajoutCompteResponse"/>
    </operation>
    <operation name="SearchCompte">
      <input message="tns:SearchCompte"/>
      <output message="tns:SearchCompteResponse"/>
    </operation>
    <operation name="tous">
      <input message="tns:tous"/>
      <output message="tns:tousResponse"/>
    </operation>
  </portType>
  <binding name="GestionComptesPortBinding" type="tns:GestionComptes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="initialisation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajoutCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="tous">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestionComptesService">
    <port name="GestionComptesPort" binding="tns:GestionComptesPortBinding">
      <soap:address location="http://localhost:9090/"/>
    </port>
  </service>
</definitions>

